.music-player {
  max-width: 500px;
  margin: auto;
  margin-top: 30px;

  img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
  }
}
.progress-bar {
  height: 15px;
  border-radius: 8x;
  background-color: #cccccc;
  margin: 20px 0;
  overflow: hidden;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    padding: 12px 20px;
    background-color: #f3f800;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
  }
}
