.drag-and-drop-container {
  margin-top: 20px;
  border: 1px solid #c8a97e;
}

.drag-and-drop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #c8a97e;
}
