.ripple-btn {
  position: relative;
  overflow: hidden;
}

.ripple {
  animation: 1s ease 1 forwards ripple-effect-keyframe;
  position: absolute;
  background-color: brown;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
}

@keyframes ripple-effect-keyframe {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(10);
  }
  100% {
    opacity: 0;
    transform: scale(20);
  }
}
