.ripple-btn {
  position: relative;
  overflow: hidden;
}

.ripple {
  animation: 1s ease 1 forwards ripple-effect-keyframe;
  position: absolute;
  background-color: brown;
  content: "";
  width: 100%;
  height: 15px;
}

@keyframes ripple-effect-keyframe {
  from 0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
